.btn-add-items-to-cart-container {
    @include flex-row;
    padding: 0 10px;
    background-color: $bg-color;
    border-radius: 5px;
    width: fit-content;
    .btn-add-substract{
      outline: 0;
      border: none;
      color: $fonts;
      background-color: $bg-color;
    }
    .itemQty{
      font-size: 20px;
      padding: 0 20px;
    }
  }
   