@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin bg-fixed {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@mixin bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin text-deco-none {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}
